---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<div style="text-align: justify; margin-top: 20px;">
  <ol style="line-height: 1.7; padding-left: 20px;">
    {% for post in site.talks reversed %}
      <li style="margin-bottom: 12px;">
        <strong>Doan, Q. C.*</strong>, & Zhang, X. ({{ post.date | date: "%Y" }}). 
        {{ post.title }}. 
        <i>{{ post.venue }}</i>, {{ post.location }}, {{ post.date | date: "%B %d" | replace: "January", "January " | replace: "February", "February " | replace: "March", "March " | replace: "April", "April " | replace: "May", "May " | replace: "June", "June " | replace: "July", "July " | replace: "August", "August " | replace: "September", "September " | replace: "October", "October " | replace: "November", "November " | replace: "December", "December " }}.
        {% if post.talkurl and post.talkurl != "" %}
          [<a href="{{ post.talkurl }}" target="_blank">Link</a>]
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>

<br><br>
<hr />
<br>

<h2 style="margin-bottom: 15px;">Talk Map</h2>
{% include talkmap.html %}
